<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= link_to @person.name, @person %>
</p>

<p>
  <b>Notification:</b>
  <%= link_to @notification.subject, @notification %>
</p>

<p>
  <b>Uuid:</b>
  <%= @recipient.uuid %>
</p>

